[Desktop Entry]
Name=Pardus Finance
Name[tr]=Pardus Finans
GenericName=Exchange rates
GenericName[tr]=Kurlar
Comment=A simple application that displays currency and gold exchange rate changes on the Pardus desktop screen
Comment[tr]=Pardus masaüstü ekranında döviz ve altın kur değişikliklerini gösteren basit bir uygulama
Exec=pardus-finance
Icon=/usr/share/icons/hicolor/scalable/apps/pardus-finance.png
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
Keywords=finance;dollar;euro;gold
